body {
    background-image: url(/site/images/back5p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-section {
    height: 50vh;
    display: flex;
    align-items: center;
    transition: opacity 0.5s;
    position: relative;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem 0; 
    margin-top: 200px;
    border-radius: 20px;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.7); 
}
.text-section.hidden {
    opacity: 0;
}
.text-content {
    flex: 2; 
    padding-right: 1rem;
    font-size: x-large;
}
.image-content {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
h1, p {
    text-align: center; 
}